**/todo-list-app/*
*.png
*.yml
*.editorconfig
*.settings
*.snk
*.ps1
*.rst
*.bat
*.p7s
*.gz
*.nupkg
*.baml
*.lref
*.resources
*.CopyComplete
*.suo
*.dtbcache.v2
*.pdb
*.cache
*.exe
**/bin/*
**/obj/
**/.vs/
*.docx
*.doc
*.pdf
*.bak

